<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Write New Chat</h1>
  <div class="con">
    <form method="post" action="/chats/new">
        <input class="chtc" type="text" name="from" id="" placeholder="Your Name?">
        <textarea rows="5" class="chtc" name="msg" id="" placeholder="Message"></textarea>
        <input class="chtc" type="text" name="to" id="" placeholder="Receiver?">
        <button class="chtc" id="cr">Create Chat</button>
    </form>
  </div>
</body>
</html>