<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, eligendi
      perferendis, facere ipsam exercitationem laudantium dolorum distinctio
      atque incidunt maxime ut aperiam tenetur quam corrupti harum qui labore
      cupiditate natus asperiores. Porro debitis alias non similique dicta
      numquam possimus unde!
    </p>
    <button>Click Here</button>
    <h3><%=1+2%></h3>
    <h3><%="hell".toUpperCase() %></h3>
    <h3><%= ["one","two","three"][0]%></h3>
  </body>
</html>
