<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New post</title>
    <link rel="stylesheet" href="/nst.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form method="post" action="/posts">
        <div>
            <input type="text" name="username" placeholder="Enter username"> <br>
        <textarea rows="10" name="content" placeholder="Enter post content"></textarea><br>
        <button>Submit Post</button>
        </div>
    </form>
</body>
</html>